h1 {
    display: flex;
    background-color: beige;

}

.catalogo{
    display: grid;
    grid-template-columns: auto auto;
    justify-content: space-around;
    background-color: beige;
}

img {
    width: 45%;
    margin: 10px;
    border: solid black .1rem;
}

.productos {
    display: grid;
    grid-template-columns: auto auto;
}

aside{
    margin-top: 2rem; 
    margin-right: 7rem;
}

.containerProductos {
    margin: 2rem 3rem;
}

.productoEnCarrito {
    border-top: solid black .05rem;
    padding: .5rem 3rem;
    display: flex;
}

.productoEnCarrito p {
    margin: auto 1rem ;
}
